body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}

.main-container {
  margin: auto;
  width: 50%;
  margin-top: 10%;
}
.main-container__space {
  width: 100%;
}
.date-picker {
  width: 100%;
}
.update-btn {
  border-color: #1677ff;
  color: #1677ff;
}
